
.row-content {
  margin: 0px auto;
  padding: 25px 0px;
  border-bottom: 1px ridge;
  min-height: 100px;
}
body {
  align: center;
  padding: 10px 0px 0px 0px;
  z-index: 0;
}
.blur {
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
.btn {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}
